body {
  margin: 0;
  font-family: $body-font;
  color: $dark-grey;
  background-color: $red;
}

h2,h3,h4,h5,h6 {
  font-family: $headers-font;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 50px;
  line-height: 1;
}