.bg-blue {
  background-color: $blue;
}
.bg-red {
  background-color: $red;
}
.bg-orange {
  background-color: $orange;
}
.bg-grey {
  background-color: $light-grey;
}


.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section.gallery {
  height: inherit;
}

.section.bg-red {
  margin-top: -2px;
}