.bg-blue {
  background-color: $blue;
}
.bg-red {
  background-color: $red;
}
.bg-darkgreen {
  background-color: $darkgreen;
}
.bg-grey {
  background-color: $light-grey;
}
.bg-purple {
  background-color: #F3F3FF;
}

.text-darkgreen {
  color: $darkgreen;
}
.text-white {
  color: white;
}
.text-blue {
  color: $blue;
}

.text-center {
  text-align: center;
}


.big-number {
  font-family: $headers-font;
  font-size: 90px;
  line-height: 1;
  @media (max-width: 330px) {
    font-size: 70px;
  }
}

.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section.gallery {
  min-height: inherit;
}

.spacer {
  height: 10px;
}
