.section.home {
  text-align: center;
  align-items: flex-end;
  h1 {
    font-size: 28px;
    margin-top: -5px;
    color: white;
    margin-bottom: 70px;
  }
  img {
    margin-bottom: -10px;
    position: relative;
    max-width: 90%;
  }
  @media (max-width: $screen-sm) {
    h1 {
      margin-bottom: 280px;
    }
  }
  @media (max-width: $screen-xs) {
    h1 {
      margin-bottom: 200px;
    }
  }
  @media (max-width: 330px) {
    h1 {
      margin-bottom: 165px;
    }
  }
}

.section.team {
  background-color: white;
  h2 {
    font-size: 40px;
    margin-bottom: 0;
    line-height: 1;
  }
  p {
    margin-top: 0;
  }
}

.section.projects {
  .card {
    justify-content: center;
  }
}

.team-content {
  width: 70%;
  .persons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .person {
    flex: 0 0 160px;
    margin: 20px 50px;
    img {
      width: 100%;
    }
  }
}

.img-container {
  display: flex;
  flex-wrap: wrap;
}
.img {
  flex: 0 0 12.5%;
  margin-bottom: -6px;
  img {
    width: 100%;
  }
  @media (max-width: $screen-sm) {
    flex: 0 0 25%;
  }
}